.heading {
    margin: 0;
}
.paperTitle {
    padding: 10px 0;
    margin: 5px 0;
}

.result p {
    margin: 5px 0;
}

.appbars {
    padding: 20px 0 30px 0;
    background-color: #ffffff !important;
}
.paper {
    /* background-color: #202125 !important; */
    /* border-color: #77787e !important; */
    height: 40px !important;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px !important;
    /* up right down left */
    padding: 2px 5px 2px 20px;
}
.inputbase1 {
    width: 100% !important;
}

.divider {
    height: 30px !important;
    margin-right: 10px !important;
}

.papersearch {
    flex-grow: 1;
}

/* .searchButton {
    color: #77787e !important;
} */