.App {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  /* background-color: #3c4043 !important; */
}

.result-button{
  margin-top: 20px !important;
  color: white !important;
  width: 100%;
  font-size: large !important;
  background-color: #30db5b !important;
}

/* #30db5b */